*.apk
*.dex

*.class

bin/
gen/
proguard/
build/
local.properties
default.properties
.settings/

*.iml
*.ipr
*.iws
.project
*.classpath

*.ucls
/.apt_generated
.gradle/
gradle/
gradle.properties
gradlew*
.idea/
*/proguard-rules.pro
